@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');

body{

    margin: 0;
    padding: 0;
    font-family: 'Yantramanav', sans-serif !important;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
section{
    margin: 0 !important;
}
.bg-img{
    background: url('./assets/bg-img.jpg');
    background-position: center;
}

textarea, input{
    background: transparent !important;
    color: white !important;  
}
textarea:focus, input:focus{
    color: white;
}
.form-control::placeholder{
    color: white;
}
#inputNotes{
    width: 100%;
}
